#header {
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-around;
    min-width: 1200px;
    white-space: nowrap;
    height: 80px;
    font-family: NexonLv1Gothic;
}
#header .logo {
    flex: 0 0 20%;
}
#header .logo a {
    font-size: 30px;
    padding: 12px 18px;
    display: inline-block;
}
#header .logo a em {
    font-size: 18px;
    font-weight: 300;
}

#header .menu {
    flex: 0 0 60%;
    text-align: center;
}
#header .menu li {
    display: inline;
    position: relative;
}
#header .menu li a {
    padding: 20px 30px;
    display: inline-block;
}

#header .member {
    flex: 0 0 20%;
    text-align: right;
    padding: 5px 0px;
}
#header .member a {
    display: inline-block;
    padding: 9px 22px;
    border: 1px solid #000;
    border-radius: 50px;
    margin: 5px;
}
#header .member a img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}
.text {
    display: inline-block;
    margin-top: 6px;
}
